/* Coolors Exported Palette - coolors.co/e8c547-30323d-4d5061-5c80bc-cdd1c4 */

/* HSL */
$color1: hsla(47%, 78%, 59%, 1);
$color2: hsla(231%, 12%, 21%, 1);
$color3: hsla(231%, 11%, 34%, 1);
$color4: hsla(218%, 42%, 55%, 1);
$color5: hsla(78%, 12%, 79%, 1);

/* RGB */
$color1: rgba(232, 197, 71, 1);
$color2: rgba(48, 50, 61, 1);
$color3: rgba(77, 80, 97, 1);
$color4: rgba(92, 128, 188, 1);
$color5: rgba(205, 209, 196, 1);